    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    header, .filters, .cart, .products {
      width: 100%;
      max-width: 1200px;
      padding: 20px;
      margin: 10px auto;
    }

    header {
      background-color: #333;
      color: white;
      text-align: center;
    }

    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      background: #f4f4f4;
      border-radius: 5px;
      justify-content: center;
    }

    .filters input, .filters select, .filters button {
      padding: 8px;
      flex: 1 1 150px;
      max-width: 200px;
    }

    .cart {
      background-color: #e8e8e8;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      justify-items: center;
    }
    .cart div {
      margin-bottom: 20px;
    }

    .cart img{
      width: 100px;
      height: 100px;
    }

    .cart-products {
      margin: 10px;
      background: rgb(175, 173, 173);
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      width: 50%;
      text-align: center;
    }

    .cart-products button {
      width: 150px;
      height: 30px;
      cursor: pointer;
    }
    
    .cart-products button:hover {
      background-color: rgb(230, 31, 31);
      color: white;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
      justify-content: center;
    }

    .product-card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      background-color: white;
    }

    .product-card img {
      width: 200px;
      height: 200px;
    }

    .product-card p {
      font-weight: bold;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .product-card h3 {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .title
    {
        width: 100%;
        height: 150px;
    }

    .product-card button {
      width: 150px;
      height: 30px;
      font-size: 16px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 5px;
      cursor: pointer;
    }

    .product-card button:hover{
        background-color: green;
        color: white;
    }

    

    @media (max-width: 768px) {
      .filters {
        flex-direction: column;
        align-items: center;
      }

      .filters input, .filters select, .filters button {
        width: 100%;
        max-width: none;
      }

      .products {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }
    }